@charset "UTF-8";@import url("https://fonts.googleapis.com/css?family=Rubik:300,300i,400,500,700");ul, li{list-style:none;}
img{max-width:100%;height:auto;margin:0 auto;}
.wrapper{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;min-height:100vh;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;}
.content{-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;}
.burger-menu{width:40px;height:40px;background:#fff;-webkit-border-radius:5%;border-radius:5%;cursor:pointer;-webkit-box-shadow:0px 0px 0px 1px black;box-shadow:0px 0px 0px 1px black;-webkit-transition:all ease .4s;-o-transition:all ease .4s;transition:all ease .4s;margin-left:auto;margin-top:12px;display:none;}
.burger-click-region{padding-top:12px;}
.burger-menu-piece{display:block;width:15px;height:2px;margin:2px auto;background:#2b2b2b;}
.slick-track{position:relative;top:0;left:0;display:block;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;}
.slick-arrow.slick-next{display:block;font-size:10px;opacity:0;position:absolute;right:-1%;z-index:2;top:22%;height:40px;z-index:12;}
.slick-arrow.slick-prev{display:block;font-size:10px;opacity:0;position:absolute;left:-4%;z-index:2;top:35%;height:40px;z-index:12;}
.header{background-color:#fff;-webkit-box-shadow:0px 2px 6px 0px rgba(0, 0, 0, 0.1);box-shadow:0px 2px 6px 0px rgba(0, 0, 0, 0.1);}
.header_logo{display:inline-block;padding-top:10px;}
.header_info ul{padding:0;margin-bottom:0;display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;}
.header_info ul li{display:inline-block;list-style:none;color:#192535;font:21px "Rubik", sans-serif;font-weight:400;line-height:30px;}
.recall{text-align:right;margin-bottom:10px;}
.recall a{font:16px "Rubik", sans-serif;color:#369b1d;font-weight:400;line-height:24px;text-decoration:underline;-webkit-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease;}
.recall a:hover{color:#09BE1D;text-decoration:none;}
.credit{background:url(../images/woman.png) no-repeat 53% -15%, url(../images/credit_bg.png) no-repeat center/cover;padding-bottom:35px;}
.credit_title, .credit_calc{margin-top:95px;}
.credit_title h1, .credit_calc h1{font:44px "Rubik", sans-serif;color:#369b1d;line-height:48px;font-weight:500;text-align:left;}
.credit_title h1 span, .credit_calc h1 span{font-weight:300;color:#192535;}
.credit_title h1 .below_title, .credit_calc h1 .below_title{font-size:36px;font-weight:500;}
.credit_benefits li{font:21px "Rubik", sans-serif;font-weight:500;color:#192535;line-height:24px;padding-bottom:30px;}
.credit_benefits .green_price{color:#369b1d;font-size:30px;}
.credit_benefits .red_price{color:#da0b0b;font-size:25px;}
.credit_benefits .line-through{position:relative;}
.credit_benefits .line-through:before{position:absolute;content:'';height:2px;left:0;width:50px;background:#000;-webkit-transform:rotate(20deg);-ms-transform:rotate(20deg);transform:rotate(20deg);top:15px;}
.credit_benefits .required{font:14px "Rubik", sans-serif;font-weight:500;color:#000;line-height:18px;padding-left:80px;}
.credit_benefits picture{float:left;padding-right:35px;}
.credit_calc{width:370px;margin-left:auto;background-color:#fff;text-align:center;padding:35px;border-radius:10px;-webkit-border-radius:10px;-moz-border-radius:10px;-ms-border-radius:10px;-o-border-radius:10px;-webkit-box-shadow:0 10px 0px 0px rgba(241, 242, 242, 0.8), 0 20px 0px 0px rgba(231, 234, 235, 0.6);box-shadow:0 10px 0px 0px rgba(241, 242, 242, 0.8), 0 20px 0px 0px rgba(231, 234, 235, 0.6);}
.credit_calc h2{font:36px "Rubik", sans-serif;color:#192535;font-weight:400;line-height:36px;margin:0;}
.credit_calc .request{font:16px "Rubik", sans-serif;color:#192535;font-weight:500;line-height:21px;}
.credit_calc .request .green_price{color:#369b1d;}
.credit_calc .calc{text-align:left;}
.credit_calc .calc label{font:15px "Rubik", sans-serif;font-weight:400;line-height:48px;}
.credit_calc .calc input, .credit_calc .calc select{width:100%;-webkit-border-radius:10px;border-radius:10px;margin:5px 0;border:1px solid #929292;background-color:#fff;outline:none;padding:10px;}
.credit_calc .permonth{font:18px "Rubik", sans-serif;font-size:18px;font-weight:400;line-height:48px;margin:0;}
.credit_calc .sum{text-align:left;}
.credit_calc .sum .prices{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;}
.credit_calc .sum .september_price{font:14px "Rubik", sans-serif;color:#192535;font-weight:400;line-height:18px;margin-top:20px;}
.credit_calc .sum .green_sum{font:33px "Rubik", sans-serif;font-weight:400;line-height:48px;color:#369b1d;margin:10px 0 0 0;}
.credit_calc .sum .green_sum sub{font-size:19px;}
.credit_calc .sum .green_sum span, .credit_calc .sum .red_sum span{vertical-align: sub;}
.credit_calc .sum .red_sum{font:33px "Rubik", sans-serif;font-weight:400;line-height:48px;color:#dd2f2f;margin:10px 0 0 0;}
.credit_calc .sum .red_sum sub{font-size:19px;}
.credit_calc .order{display:block;background-color:#ff7800;-webkit-border-radius:10px;border-radius:10px;text-align:center;font:18px "Rubik", sans-serif;font-weight:400;color:#fff;line-height:60px;height:59px;-webkit-transition:all .2s linear;-o-transition:all .2s linear;transition:all .2s linear;}
.credit_calc .order:hover{background-color:#FF6832;}
.partners{text-align:center;padding:25px 0;}
.partners_title{padding-bottom:40px;}
.partners_title h2{font:48px "Rubik", sans-serif;font-weight:300;color:#192535;line-height:48px;margin:0;}
.partners_banks{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;position:relative;}
.partners .prev{position:absolute;left:-1%;top:50%;z-index:11;}
.partners .next{position:absolute;right:0%;top:50%;z-index:11;}
.partners .pumb{width:50%;}
.scheme{text-align:center;padding:25px 0;}
.scheme_title{padding-bottom:40px;}
.scheme_title h2{font:48px "Rubik", sans-serif;font-weight:300;color:#192535;line-height:48px;margin:0;}
.scheme .steps{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-justify-content:space-around;-ms-flex-pack:distribute;justify-content:space-around;-webkit-box-align:end;-webkit-align-items:flex-end;-ms-flex-align:end;align-items:flex-end;}
.scheme .steps p{font:18px "Rubik", sans-serif;font-weight:500;color:#000;line-height:24px;}
.scheme .steps .case{position:relative;}
.scheme .steps .case:after{content:'';position:absolute;background:url(../images/arrow.png) no-repeat;width:171px;height:32px;top:35%;right:-50%;margin-top:-16px;}
.scheme .steps .phone{position:relative;}
.scheme .steps .phone:after{content:'';position:absolute;background:url(../images/arrow.png) no-repeat;width:171px;height:32px;top:35%;right:-75%;margin-top:-16px;}
.scheme .steps .case:before{content:'1';position:absolute;height:32px;width:32px;background-color:#000;-webkit-border-radius:50%;border-radius:50%;color:#fff;font:18px "Rubik", sans-serif;font-weight:300;line-height:33px;padding-right:2px;left:0px;top:50px;}
.scheme .steps .phone:before{content:'2';position:absolute;height:32px;width:32px;background-color:#000;-webkit-border-radius:50%;border-radius:50%;color:#fff;font:18px "Rubik", sans-serif;font-weight:300;line-height:33px;padding-right:2px;left:-15px;top:60px;}
.scheme .steps .wallet{position:relative;}
.scheme .steps .wallet:before{content:'3';position:absolute;height:32px;width:32px;background-color:#000;-webkit-border-radius:50%;border-radius:50%;color:#fff;font:18px "Rubik", sans-serif;font-weight:300;line-height:33px;padding-right:2px;left:0px;top:20px;}
.scheme .order{display:inline-block;padding:0 15px;margin:25px 0;background-color:#ff7800;-webkit-border-radius:10px;border-radius:10px;text-align:center;font:18px "Rubik", sans-serif;font-weight:400;color:#fff;line-height:60px;height:59px;-webkit-transition:all .2s linear;-o-transition:all .2s linear;transition:all .2s linear;}
.scheme .order:hover{background-color:#FF6832;}
.rules{background:url(../images/rules.png) no-repeat 15%/cover;text-align:center;padding:25px 0;}
.rules_title{padding-bottom:40px;}
.rules_title h2{font:48px "Rubik", sans-serif;font-weight:300;color:#192535;line-height:48px;margin:0;}
.rules_item{text-align:left;margin-bottom:30%;}
.rules_item li{font:16px "Rubik", sans-serif;font-weight:400;color:#192535;line-height:50px;position:relative;}
.rules_item li:before{content:'';position:absolute;background:url(../images/correct.png) no-repeat;width:32px;height:32px;left:-40px;top:10px;}
.rules_item .recall{margin-bottom:10px;font:16px "Rubik", sans-serif;color:#369b1d;font-weight:400;line-height:24px;text-decoration:underline;-webkit-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease;padding-left:40px;}
.rules_item .recall:hover{color:#09BE1D;text-decoration:none;}
.rules_count{text-align:left;}
.rules_count h3{font:24px "Rubik", sans-serif;color:#192535;font-weight:400;line-height:50px;}
.rules_count p{font:90px "Rubik", sans-serif;font-weight:400;line-height:50px;color:#369b1d;margin:0;}
.rules_count .order{display:inline-block;padding:0 15px;margin:25px 0;background-color:#ff7800;-webkit-border-radius:10px;border-radius:10px;text-align:center;font:18px "Rubik", sans-serif;font-weight:400;color:#fff;line-height:60px;height:59px;-webkit-transition:all .2s linear;-o-transition:all .2s linear;transition:all .2s linear;}
.rules_count .order:hover{background-color:#FF6832;}
.rules .rules_hidden{display:none;}
.feedback{text-align:center;padding:25px 0;}
.feedback_title{padding-bottom:40px;}
.feedback_title h2{font:48px "Rubik", sans-serif;font-weight:300;color:#192535;line-height:48px;margin:0;}
.feedback .slides{position:relative;}
.feedback .slides .feed{max-width:370px;margin:0 20px;text-align:left;}
.feedback .slides .feed h4{font:21px "Rubik", sans-serif;font-weight:400;color:#369b1d;margin-bottom:0;}
.feedback .slides .feed h5{font:16px "Rubik", sans-serif;font-weight:500;color:#464646;margin:0;}
.feedback .give_feedback{color:#369b1d;font:18px "Rubik", sans-serif;font-weight:400;line-height:24px;text-decoration:underline;-webkit-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease;}
.feedback .give_feedback:hover{color:#09BE1D;text-decoration:none;}
.feedback .back{position:absolute;left:-3%;top:20%;z-index:1;cursor:pointer;}
.feedback .forward{position:absolute;right:-3%;top:20%;z-index:1;cursor:pointer;}
.faq{background-color:#EAEAEA;text-align:center;padding:25px 0;}
.faq_title{padding-bottom:40px;}
.faq_title h2{font:48px "Rubik", sans-serif;font-weight:300;color:#192535;line-height:48px;margin:0;}
.faq .accordeon dl{position:relative;cursor:pointer;z-index:5;margin:0;}
.faq .accordeon dl:after{content:'';position:absolute;bottom:0;background:url(../images/line.png) no-repeat center bottom;width:100%;height:2px;left:0;}
.faq .accordeon dl dt{font:20px "Rubik", sans-serif;color:#000;font-weight:400;line-height:40px;}
.faq .accordeon dl dd{font:18px "Rubik", sans-serif;font-weight:400;color:#000;padding-bottom:20px;}
.faq .accordeon .angle{position:absolute;top:0%;right:2%;z-index:-1;}
.faq .accordeon .active{background-color:#fff;}
.faq .accordeon .faq_hidden{display:none;}
.faq .ask{text-align:right;}
.faq .ask a{margin-bottom:10px;font:16px "Rubik", sans-serif;color:#369b1d;font-weight:400;line-height:24px;text-decoration:underline;-webkit-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease;}
.faq .ask a:hover{color:#09BE1D;text-decoration:none;}
.faq .showAll{font:18px "Rubik", sans-serif;color:#2b2b2b;font-weight:400;line-height:24px;text-decoration:underline;-webkit-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease;}
.faq .showAll:hover{color:#616561;text-decoration:none;}
.footer{background-color:#d7d7d7;-webkit-box-shadow:0px 2px 6px 0px rgba(0, 0, 0, 0.1);box-shadow:0px 2px 6px 0px rgba(0, 0, 0, 0.1);}
.footer_logo{display:inline-block;padding-top:10px;}
.footer_info ul{padding:0;margin-bottom:0;display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;}
.footer_info ul li{display:inline-block;list-style:none;font:18px "Rubik", sans-serif;font-weight:400;color:#192535;line-height:30px;}
.footer_map a{font:14px "Rubik", sans-serif;color:#369b1d;font-weight:400;line-height:30px;text-decoration:underline;-webkit-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease;}
.footer_map a:hover{color:#09BE1D;text-decoration:none;}
.footer_lisence{font:14px "Rubik", sans-serif;color:#369b1d;font-weight:400;line-height:24px;text-decoration:underline;-webkit-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease;}
.footer_lisence:hover{color:#09BE1D;text-decoration:none;}
.thanks{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;margin-top:7%;margin-bottom: 10%;color:#192535;text-align:center;}
.thanks h1{font:36px "Rubik", sans-serif;margin-bottom:0;}
.thanks p{font:18px "Rubik", sans-serif;}
.thanks .service{font-size:16px;color:#929292;}
.modal{overflow:auto!important;padding:0!important;border-radius: 6px;}
.modal-dialog{-webkit-box-shadow:0 15px 0px -5px rgba(241, 242, 242, 0.8), 0 30px 0px -10px rgba(231, 234, 235, 0.6);box-shadow:0 15px 0px -5px rgba(241, 242, 242, 0.8), 0 30px 0px -10px rgba(231, 234, 235, 0.6);-webkit-border-radius:15px;border-radius:15px;}
.modal-header .close{margin-top:-2px;border:none;background:transparent;position:absolute;right:5px;top:5px;font-size:25px;}
.modal-header{border-bottom:none;}
.modal-body label{font:18px "Rubik", sans-serif;color:#192535;font-weight:400;line-height:48px;}
.modal-body input, .modal-body select, .modal-body textarea{height:52px;-webkit-border-radius:10px;border-radius:10px;border:1px solid #929292;background-color:#fff;padding:10px;outline:none;font:16px "Rubik", sans-serif;font-weight:300;line-height:48px;margin-bottom:15px;}
.modal-title{text-align:center;font:30px "Rubik", sans-serif;font-weight:400;line-height:36px;}
.modal-desk{font:16px "Rubik", sans-serif;color:#192535;font-weight:500;line-height:21px;text-align:center;}
.modal-desk .green_price{color:#369b1d;}
.input_sum,#tip,#tip2,#tip3,#full_name,#age,#obl, #code{width:100%;}
#message{width:100%;height:100%;}
#mail{width:100%;}
#confirm, #confirm_inn{width:12px;float:left;margin-right:10px;cursor:pointer;}
#confirm_inn{height: 25px;}
#inn_check_block{margin-bottom: 4%; display: none}
#inn_check_block #confirm_text{color: red;}
#confirm_text{line-height:24px;width:95%;padding-top:15px;}
.agree{border-bottom:1px dashed #369b1d;color:#369b1d;}
#photo{max-width:100%;border:none;background:none;}
.submit{display:block;background-color:#ff7800;-webkit-border-radius:10px;border-radius:10px;text-align:center;font:18px "Rubik", sans-serif;font-weight:400;color:#fff;line-height:24px;height:45px;width:300px;margin:15px auto 0;-webkit-transition:all .2s linear;-o-transition:all .2s linear;transition:all .2s linear;border:none;}
.submit:hover{background-color:#FF6832;}
.service_info{font:18px "Rubik", sans-serif;font-weight:400;line-height:24px;color:#192535;text-align:center;}
.service_desk{font:16px "Rubik", sans-serif;font-weight:300;font-style:italic;color:#929292;line-height:24px;text-align:center;}
.file-upload{position:relative;}
.file-upload:hover{background:#7aad55;}
.file-upload input[type="file"]{display:none;}
.file-upload label{display:block;width:100%;height:100%;cursor:pointer;}
.file-upload span{line-height:36px;color:#369b1d;border-bottom:1px dashed #369b1d;}
input#sum:focus::-webkit-input-placeholder{color:transparent;}
input#code:focus::-webkit-input-placeholder{color:transparent;}
input#code_sms::-webkit-input-placeholder{font-size:16px; letter-spacing: normal;}
input#code_sms::-moz-placeholder{font-size:16px; letter-spacing: normal;}
input#code_sms:focus::-webkit-input-placeholder{color:transparent;}
input#sum:focus::-moz-placeholder{color:transparent;}
input#code:focus::-moz-placeholder{color:transparent;}
input#sum:focus:-ms-input-placeholder{color:transparent;}
.sms-confirm{
	position: absolute;
	width: 100%;
	height: 70%;
	z-index: 100;
	background: white;
}
.error{
	display: none;
	font-size: 10px!important;
	line-height: 20px!important;
	color: red!important;
}

.main_banner{
	width: 760px;
	height: 260px;
	position: relative;
	z-index: 500;
	border-radius: 10px;
	border:2px solid #ff7800;
	background: rgba(167,167,167,1);
	background: -moz-linear-gradient(left, rgba(167,167,167,1) 0%, rgba(237,237,237,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(167,167,167,1)), color-stop(100%, rgba(237,237,237,1)));
	background: -webkit-linear-gradient(left, rgba(167,167,167,1) 0%, rgba(237,237,237,1) 100%);
	background: -o-linear-gradient(left, rgba(167,167,167,1) 0%, rgba(237,237,237,1) 100%);
	background: -ms-linear-gradient(left, rgba(167,167,167,1) 0%, rgba(237,237,237,1) 100%);
	background: linear-gradient(to right, rgba(167,167,167,1) 0%, rgba(237,237,237,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7a7a7', endColorstr='#ededed', GradientType=1 );

}
.main_banner_content{
		display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
.banner_content{
	width: 350px;
}
.goods{
	width: 200px;
	height: 170px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
.goods_border{
	width: inherit;
	height: 50%;
	position: absolute;
	overflow: hidden;
}
.goods_border:before{
	position: absolute;
	content: '';
	width: inherit;
	height: 144px;
	border-radius: 50%;
	border:14px solid #fd8419;
}
.goods_border_1{
	top:0;
}
.goods_border_1:before{
	top:0;
	z-index: 10;
}
.goods_border_2{
	bottom: 0;
}
.goods_border_2:before{
	bottom:0;
	z-index: 30;
}
.goods_image_wrap{
	width: 144px;
	height: 144px;
	position: relative;

	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
.goods_image_wrap img{
	width: 100%;
	position: relative;
	z-index: 20;
	
}
.goods_2 .goods_image_wrap{
	transform: rotate(90deg);
}
.goods_2 .goods_image_wrap img{
	transform: rotate(-90deg);
}
.banner_content {
	padding-top: 25px;
}
.banner_title {
	text-align: center;
	font-size: 21px;
	color:#fff;
	margin: 0;
}
.banner_title  strong{
	color:#ff7800;
}
.banner_title  small{
	font-size: 21px;
}
.banner_description{
	text-align: center;
	color:#727272;
	font-size: 16px;
	margin-bottom: 0;
}
.goods_description{
		display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;

}
.goods_description_item{
	font-size: 16px;
	
}
.goods_description_item p{
	margin-bottom: 0;
}
.goods_description_item_1{
color:#fff;
}
.goods_description_item_2{
color:#727272;
}
.warranty{
	width: 100%;
	text-align: right;
	padding-right: 30px;
	color:#727272;
	font-size: 12px;
	margin: 0;
}


.banner_mobile, .for_mobile{
	display: none;
}

.partners_banks img {
	max-width: 85%;
}