@media only screen and (max-width: 1199px) {
    .partners .next {
        top: 50%;
        right: -3%;
    }

    .slick-arrow.slick-next {
        right: -3%;
    }

    .faq .accordeon dl dt {
        font-size: 16px;
    }

    .feedback .forward {
        right: -3%;
    }

    .banner_mobile {
        display: block;
    }

    .main_banner {
        margin-top: 175px;
    }

}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .header_info ul li {
        font-size: 18px;
    }

    .credit_benefits li {
        font-size: 18px;
    }

    .credit_benefits .required {
        font-size: 12px;
        padding-left: 15px;
    }

    .scheme .steps .wallet:before {
        left: 28px;
    }

    .scheme .steps .phone:before {
        left: 0px;
    }

    .scheme .steps .case:after {
        right: -36%;
    }

    .scheme .steps .phone:after {
        right: -60%;
    }

    .partners .next {
        right: -1%;
    }

}

@media only screen and (max-width: 992px) {
    .credit {
        background: url(../images/credit_bg.png) no-repeat center/cover;
    }

    .credit_calc {
        margin: 0 auto;
        border: 2px solid #ff7800;
        border-top: 0;
        border-top-right-radius: 0;
        border-top-left-radius: 0;

    }

    .required {
        display: none;

    }

    .rules {
        padding: 0;
    }

    .partners_title {
        padding-bottom: 0px;
    }

    .partners_title h2 {
        font-size: 30px;
    }

    .scheme_title {
        padding-bottom: 0px;
    }

    .scheme_title h2 {
        font-size: 30px;
    }

    .steps img {
        max-width: 40%;
    }

    .rules_title {
        padding-bottom: 0px;
    }

    .rules_title {
        padding-bottom: 0px;
    }

    .rules_title h2 {
        font-size: 30px !important;
    }

    .rules_item {
        margin-bottom: 20px;
    }

    .rules_count p {
        font-size: 50px;
    }

    .rules_count h3 {
        margin: 0;
    }

    .feedback_title {
        padding-bottom: 0px;
    }

    .feedback_title h2 {
        font-size: 30px;
    }

    .feedback, .faq, .faq_title {
        padding: 0;
    }

    .faq_title h2 {
        font-size: 30px;
    }

    .burger-menu {
        display: block;
        position: relative;
        top: -45px;
    }

    .header_info {
        display: none;
    }

    .header_info ul {
        display: flex;
        top: 70px;
        z-index: 100;
        left: 0px;
        flex-direction: column;
        align-items: stretch;
        background: #fff;
        width: 100%;
    }

    .header_info ul li {
        border-bottom: 1px solid #192535;
        padding: 5px;
        font-size: 19px;
    }

    .partners .prev {
        left: 0%;
        top: 60%;
    }

    .scheme .steps .case:after,
    .scheme .steps .phone:after {
        display: none;
    }

    .slick-arrow.slick-next {
        right: -1%;
        top: 35%;
    }

    .partners .next {
        top: 50%;
        right: 2%;
    }

    .rules {
        background: url(../images/rules.png) no-repeat 95%/cover;
    }

    .main_banner {
        margin: 0px auto 0 auto;
        width: 370px;
        height: auto;
        background: rgba(140, 140, 140, 0.86);
        background: -moz-linear-gradient(top, rgba(140, 140, 140, 0.86) 0%, rgba(255, 255, 255, 1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(140, 140, 140, 0.86)), color-stop(100%, rgba(255, 255, 255, 1)));
        background: -webkit-linear-gradient(top, rgba(140, 140, 140, 0.86) 0%, rgba(255, 255, 255, 1) 100%);
        background: -o-linear-gradient(top, rgba(140, 140, 140, 0.86) 0%, rgba(255, 255, 255, 1) 100%);
        background: -ms-linear-gradient(top, rgba(140, 140, 140, 0.86) 0%, rgba(255, 255, 255, 1) 100%);
        background: linear-gradient(to bottom, rgba(140, 140, 140, 0.86) 0%, rgba(255, 255, 255, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8c8c8c', endColorstr='#ffffff', GradientType=0);
        border-bottom: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .recall {
        display: none;

    }

    .credit_title {
        margin-top: 0;
    }

    .main_banner_content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .banner_content {
        order: 1;
    }

    .banner_description, .goods_description, .goods_description {
        display: none;
    }

    .warranty_mob, .banner_description_mob, .for_mobile {
        display: block;
    }

    .goods_1 {
        order: 2;
        width: 100%;
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }

    .goods_2 {
        order: 3;
        width: 100%;
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;

    }

    .banner_description_mob {
        margin: 0;
        padding-top: 20px;
        border-top: 3px solid #fff;
    }

    .warranty {
        padding: 0 0 0 20px;
        text-align: left;
        margin-top: -20px;

    }
}

@media only screen and (max-width: 768px) {
    #phone2, #phone {
        width: 85%;
    }

    .scheme .steps {
        flex-direction: column;
        align-items: center;
    }

    .rules_count h3 {
        font-size: 22px;
    }

    .modal-body input, .modal-body select {
        width: 100%;
    }
}

@media only screen and (max-width: 660px) {
    .angle {
        display: none;
    }

    .faq .accordeon dl dd {
        font-size: 14px;
        margin-left: 0;
    }
}

@media only screen and (max-width: 480px) {
    .credit_calc {
        width: 300px;
    }

    .credit_title h1 {
        font-size: 27px;
    }

    .credit_benefits li {
        font-size: 13px;
    }

    .credit_calc .sum .september_price {
        font-size: 12px;
    }

    .credit_calc .sum .green_sum,
    .credit_calc .sum .red_sum {
        font-size: 18px;
    }

    .rules_title h2 {
        font-size: 44px;
    }

    .footer_info ul li {
        font-size: 11px;
    }

    .submit {
        width: 100%;
        height: 35px;
    }

    .feedback .back {
        top: 20%;
    }

    .slick-arrow.slick-next,
    .slick-arrow.slick-prev {
        top: 50%;
    }

    .slick-arrow.slick-next {
        right: 0%;
    }

    .partners .next {
        top: 60%;
        right: 0%;
    }

    .main_banner {
        width: 300px;
    }

    .banner_content {
        width: 100%;
        padding-top: 10px;
        margin-bottom: 20px;
    }

    .banner_title {
        font-size: 19px;
    }

    .for_mobile p {
        text-align: center;

    }

    .goods {
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .banner_description_mob {
        width: 144px;
    }

    .goods_1 {
        padding-right: 10px;
    }

    .goods_2 {
        padding-left: 10px;
    }

    .goods_1 .goods_image_wrap {
        margin-left: -20px;

    }

    .goods_2 .goods_image_wrap {
        margin-right: -20px;

    }
}

@media only screen and (max-width: 320px) {
}

@media only screen and (min-width: 320px) {
}

@media only screen and (min-width: 480px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
}