.box_link{color:#353535;}
.box_link:hover{text-decoration:none;color:#353535;}
.box{border:1px solid #DDDDDD;background:#FAFAFA;border-radius:5px;padding:5px 15px 15px 15px;margin-bottom:20px;}
.box:hover{box-shadow: 0px 0px 15px 0px rgba(47,155,0,0.5);border:1px solid rgba(47,155,0,0.5);}
.box .img{text-align:center;height:70px;line-height:70px;}
.box .img img{max-width:163px;height:auto;max-height:70px;}
.box .important{text-align:center;margin:10px 0 15px 0;padding:10px 0;font-size:16px;border-top: 2px solid #DFDFDF;border-bottom: 2px solid #DFDFDF;}
.box .info_table{margin-bottom:10px;font-size:13px;}
.box .info_table .left{float:left;}
.box .info_table .right{float:right;}
.box .button{margin-top:20px;background:#2f9b00;width:100%;padding:10px;font-size:14px;border-radius:3px;color:#FFF;text-align:center;}

.popular-icons{position:absolute;left:19px;top:4px;z-index:1000;}
.popular-icons-modal{position:absolute;left:-18px;top:-20px;z-index:1000;}
@media screen and (min-width: 768px) {
    .popular-icons{position:absolute;left:4px;top:-8px;}
    #subscribed-content #left{
        padding-top:7px;
    }
    #subscribed-content p{
        margin-bottom:0px;
    }
    #subscribed-content form{
        margin-right:15px;
    }
}

@media screen and (max-width: 767px) {
    #all-lenders{text-align:center;}
    .box .img2 img{max-width:100%;}
    .new-mob-box{margin-left:-10px;margin-right:-10px;}
    .new-mob-box .important{font-size:12px;}
    .new-mob-box .info_table .right{text-align:center !important;float:none;}
    .popular-icons-new-box{left:9px;}
}

@media (min-width: 992px) and (max-width: 1199px) {
    .navbar-nav > li > a{font-size:12px;letter-spacing:-0.5px;}
}

@media (min-width: 768px) and (max-width: 991px) {
    .navbar-nav > li > a{padding-left:5px;padding-right:5px;font-size:12px;}
}

#footer ul{list-style:none;margin:0;padding:0;}
#footer ul li{display:inline-block;padding-right:15px;}

#footer-fixed-privacy{
    z-index: 10000;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width:100%;
    background:rgba(0,0,0,0.5);
}
#footer-fixed-privacy-text{
    padding:15px 100px 15px 15px;
    color:#FFF;
    max-width:1020px;
    font-size:13px;
    margin:0 auto;
    position:relative;
}
#footer-fixed-privacy-text .btn-primary{
    padding:5px 10px;
    position:absolute;
    right:15px;
    top:18px;
    background:#2f9b00;
    color:#FFF;
    border:none;
}
@media screen and (max-width: 991px) {
    #footer-fixed-privacy-text{
        padding:15px;
    }
    #footer-fixed-privacy-text .btn-primary{
        margin-top:10px;
        display:block;
        position:static;
    }
}
.more-buttons-blue{margin-bottom:8px;display:inline-block;white-space:nowrap;margin-right:5px;padding:7px 12px;background:#009acf;border-radius:4px;color:#151515;cursor:pointer;color:#FFF;}
.more-buttons-blue:hover{text-decoration:none;color:#FFF;background:#0080aa;}
.table {
    /* width: 100%; */
    max-width: 100%;
    margin-bottom: 20px;
}
table {
    background-color: transparent;
}

.table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>thead>tr>th {
    padding: 5px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

a {
    color: #337ab7;
    text-decoration: none;
}

.text-center {
    text-align: center;
}