
body {
	font: 14px/21px sans-serif; 
	color: #757575;
}
.container{    
	width: 800px;
    margin: 55px auto;
}
.left-side{ 
	width: 45%;
	float:left;
}
.right-side{
	width: 45%;
	float:right;
}

.separate_info{
border-color: #0a9d58;
    color: #0a9d58;
    margin: 108px 8px 0;
    border-width: 0 0 0 6px;
    border-style: solid;
    padding: 9px 15px;
    background: #e6f5ee none repeat scroll 0 0;
}

/* === List Styles === */
.separate_form ul {
    width:100%;
    list-style-type:none;
	list-style-position:outside;
	margin:0px;
	padding:0px;
}
.separate_form li{
	padding:7px; 
} 
.separate_form li:first-child{
	border-bottom:1px solid #888;
}

/* === Form Header === */
.separate_form h2 {
    color: #632bb6;
    display: inline;
    font-weight: normal;
    margin: 0;
}

/* === Form Elements === */
.separate_form label {
	display: block;
}
.separate_form input {
	height:20px; 
	width:305px; 
	padding:4px 8px;
}
.separate_form textarea {padding:8px; height: 284px; width: 305px;}


	/* form element visual styles */
	.separate_form input, .separate_form textarea { 
		border:1px solid #aaa;
		border-radius:2px;
		padding-right:30px;
		-moz-transition: padding .25s; 
		-webkit-transition: padding .25s; 
		-o-transition: padding .25s;
		transition: padding .25s;
	}


/* === Form hints === */
.form_hint {
	background: #d45252;
	border-radius: 3px 3px 3px 3px;
	color: white;
	margin-left:8px;
	padding: 1px 6px;
	z-index: 999; /* hints stay above all other elements */
	position: absolute; /* allows proper formatting if hint is two lines */
	display: none;
}
.form_hint::before {
	content: "\25C0";
	color:#d45252;
	position: absolute;
	top:1px;
	left:-6px;
}
	
/* === Button Style === */
button.submit {
    background-color: #632bb6;
    border: 1px solid #632bb6;
    border-radius: 4px;
    color: white;
    font-size: 14px;
    padding: 6px 20px;
    text-align: center;
}
button.submit:hover {
	opacity:.85;
	cursor: pointer; 
}
button.submit:active {
	border: 1px solid #20911e;
	box-shadow: 0 0 10px 5px #356b0b inset; 
	-webkit-box-shadow:0 0 10px 5px #356b0b inset ;
	-moz-box-shadow: 0 0 10px 5px #356b0b inset;
	-ms-box-shadow: 0 0 10px 5px #356b0b inset;
	-o-box-shadow: 0 0 10px 5px #356b0b inset;
	
}